<p id="notice"><%= notice %></p>

<h1>Listing Coxinhas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coxinhas.each do |coxinha| %>
      <tr>
        <td><%= coxinha.id %></td>
        <td><%= coxinha.name %></td>
        <td><%= link_to 'Show', coxinha %></td>
        <td><%= link_to 'Edit', edit_coxinha_path(coxinha) %></td>
        <td><%= link_to 'Destroy', coxinha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coxinha', new_coxinha_path %>
